
body{
    background-color: burlywood;
}        

.container {
width: 80%;
margin: 50px auto;
font-family: Arial, sans-serif;
}

.section {
margin-bottom: 30px;

}
.titre{
    text-align: center;
}
h2 {
margin-bottom: 10px;
color: #333;

}

button {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #0056b3;
}

form {
margin-bottom: 15px;
}

label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

button[type="submit"] {
width: auto;
padding: 10px 20px;
background-color: #28a745;
}

.memoire {
background-color: #f9f9f9;
padding-bottom: 10%;
border-radius: 5px;
margin-bottom: 10px;
margin-left: 5%;
width: auto;
max-height: max-content;
}

h2{
    text-align: center;
}